/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
	border-radius: 5px; 
	border: 2px solid #000;
	background: #4c4c4c;
	color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}








/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-base .tooltipster-content {
	overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
	display: block;
	width: 0; 
	height: 0;
	position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -7px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-left: 8px solid;
	top: 50%;
	margin-top: -7px;
	right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-left: 9px solid;
	margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-right: 8px solid;
	top: 50%;
	margin-top: -7px;
	left: -7px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-right: 9px solid;
	margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}
.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0px !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0px !important;
	opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
	opacity: 0.5;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
.lb-loader,.lightbox{text-align:center;line-height:0}body:after{content:url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);display:none}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;border-radius:3px}.lightbox a img{border:none}.lb-outerContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;border-radius:4px}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-container{padding:4px}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular.eot");
  src: url("../fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight.eot");
  src: url("../fonts/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight.woff") format("woff"), url("../fonts/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
a {
  outline: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
}
small {
  font-size: 12px;
}
input,
textarea,
select {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'LatoLight', 'Roboto', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.button {
  position: relative;
  display: inline-block;
  padding: 12px 40px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 1px solid;
  border-radius: 20px;
  transition: all 0.15s linear;
}
.button:active {
  top: 2px;
}
.button-outline-white {
  color: #fff;
  border-color: #fff;
}
.button-outline-white:hover {
  color: #f72d20;
  background: #fff;
}
.button-outline-red {
  color: #f72d20;
  border-color: #f72d20;
}
.button-outline-red:hover {
  color: #fff;
  background: #f72d20;
}
.button-red {
  color: #fff;
  background: #f72d20;
  border-color: #f72d20;
}
.button-red:hover {
  color: #f72d20;
  background: transparent;
}
.button-white {
  color: #f72d20;
  background: #fff;
  border-color: #fff;
}
.button-white:hover {
  color: #fff;
  background: transparent;
}
.modal {
  position: relative;
  margin: 0 auto;
  background: #fff;
}
.modal .section-title {
  margin-bottom: 45px;
}
.modal p,
.modal strong {
  font-size: 18px;
}
.modal-item {
  max-width: 1400px;
  padding: 50px 60px;
}
#item {
  padding: 50px 130px;
}
.item-gallery {
  width: 515px;
}
.item-gallery-big {
  overflow: hidden;
}
.item-gallery-big img {
  display: block;
  width: 100%;
  height: auto;
}
.item-gallery-thmb {
  display: none;
}
.item-gallery-big[data-good="5"] + .item-gallery-thmb {
  display: block;
}
.item-gallery-big[data-good="5"] + .item-gallery-thmb a {
  float: left;
  width: 33.333333333%;
  height: 105px;
  margin-top: 10px;
  padding-right: 10px;
  overflow: hidden;
}
.item-gallery-big[data-good="5"] + .item-gallery-thmb a:nth-child(3n) {
  padding-right: 0;
}
.item-gallery-big[data-good="5"] + .item-gallery-thmb img {
  display: block;
  width: 100%;
  height: auto;
}
.lightbox .lb-image,
.lb-outerContainer {
  border-radius: 0;
}
.item-attributes {
  padding-top: 15px;
  padding-left: 40px;
  font-size: 18px;
}
.item-attributes dl {
  margin-bottom: 10px;
}
.item-attributes dt,
.item-attributes dd {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.item-attributes dt {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
}
.item-attributes dd {
  margin-left: 10px;
}
.item-color {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.item-color img {
  display: block;
  width: 26px;
  height: 26px;
}
.item-color.item-color-active img {
  border: 2px solid #f72d20;
}
.item-tooltips {
  margin: 35px 0 0;
  padding: 0;
  list-style: none;
}
.item-tooltips li {
  margin-bottom: 7px;
  color: #818181;
}
.item-tooltips span {
  border-bottom: 1px solid #818181;
}
.item-tooltip {
  padding: 10px 20px !important;
  color: #000 !important;
  background: #fff !important;
  border: none !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 0 !important;
}
.item-tooltip div {
  font-family: 'LatoRegular', 'Roboto', sans-serif !important;
  font-size: 16px !important;
  line-height: 25px !important;
}
.item-desc {
  margin-top: 45px;
}
.item-desc strong {
  display: block;
}
.item-desc p {
  margin: 5px 0 0;
}
.item-buy {
  margin-top: 50px;
  text-align: center;
}
.item-buy span {
  font-size: 20px;
  vertical-align: middle;
}
.item-buy .button {
  margin-left: 25px;
}
.modal-cart {
  width: 1400px;
  padding: 50px 130px;
}
.cart-table {
  width: 100%;
  margin-bottom: 45px;
  font-size: 20px;
  text-align: center;
}
.cart-table th {
  padding-bottom: 25px;
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
}
.cart-table tr td {
  padding: 20px 0;
  vertical-align: middle;
  border-bottom: 1px solid #e5e5e5;
}
.cart-table tr:last-child td {
  border-bottom: none;
}
.cart-table th:first-child,
.cart-table td:first-child {
  text-align: left;
}
.cart-bar {
  text-align: right;
}
.cart-total {
  margin: 0 15px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.sale-goods-single {
  float: left;
  width: 50%;
  margin-bottom: 15px;
  padding: 15px;
}
.sale-goods-single .goods-single-title {
  margin-top: 15px;
}
.sale-goods-desc,
.sale-goods-attributes {
  float: left;
}
.sale-goods-desc {
  width: 280px;
  text-align: center;
}
.sale-goods-img img {
  display: block;
  width: 100%;
  height: auto;
}
.sale-goods-attributes {
  padding-left: 30px;
  font-size: 16px;
}
.sale-goods-attributes dl {
  margin-bottom: 5px;
}
.sale-goods-quantity {
  width: 100px;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 25px;
}
.sale-goods-price {
  display: block;
  padding-top: 30px;
  font-size: 20px;
}
.sale-bar {
  text-align: center;
}
.sale-bar span {
  font-size: 20px;
  vertical-align: middle;
}
.sale-bar .button {
  margin-left: 25px;
}
#noty_bottomRight_layout_container li {
  margin-top: 5px !important;
  border-radius: 0 !important;
  border: none !important;
  color: #000 !important;
}
.noty_bar {
  padding: 10px 15px;
  background: #e5e5e5;
}
.noty_message {
  padding: 10px !important;
  font-size: 16px !important;
  line-height: normal !important;
}
.noty_message a {
  color: #f72d20;
  text-decoration: none;
  border-bottom: 1px solid #f72d20;
}
#order {
  width: 780px;
  padding: 60px 130px;
  text-align: center;
}
#order .section-title {
  font-size: 30px;
  line-height: 40px;
}
.order-form input[type=text],
.order-form input[type=email] {
  display: block;
  margin: 0 auto 25px;
  border-color: #000;
  color: #000;
}
#thanks {
  width: 780px;
  padding: 80px 130px;
  text-align: center;
}
#thanks .section-title {
  margin: 0;
  font-size: 30px;
  line-height: 27px;
}
.thanks-title {
  margin: 0 0 15px;
  font-size: 40px;
  line-height: 40px;
  color: #f72d20;
}
.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  padding: 15px 0;
  background: #77808b;
  text-align: center;
}
.header-menu ul li {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}
.header-menu ul li:after {
  content: '/';
  margin-left: 35px;
  color: #fff;
}
.header-menu ul li:last-child {
  margin-right: -4px;
}
.header-menu ul li:last-child:after {
  content: none;
}
.header-menu ul a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.header-menu ul a:hover {
  border-color: #fff;
}
.show-mobile {
  display: none;
}
.header-content {
  margin-top: 50px;
  padding: 40px 0;
  background: #fff;
}
.header-logo {
  margin-top: 15px;
  color: #000;
  text-decoration: none;
}
.header-logo span {
  display: inline-block;
  margin-left: 25px;
  vertical-align: top;
  line-height: 20px;
}
.header-cart {
  margin-left: 145px;
  padding: 27px 40px;
  padding-left: 80px;
  background: url('../img/icon-cart-grey.png') no-repeat left 40px center #e5e5e5;
}
.header-cart a {
  color: #000;
  text-decoration: none;
}
.header-cart-label,
.header-cart-goods {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  line-height: 1;
}
.header-cart-label {
  color: #f72d20;
}
.header-cart-quantity {
  border-bottom: 1px dashed #949494;
}
.header-cart-goods {
  margin: 0;
  margin-left: 10px;
  color: #949494;
}
.header-contacts {
  text-align: right;
}
.header-contacts-tel {
  display: block;
  margin-bottom: 7px;
  text-decoration: none;
  line-height: 1;
  color: #727272;
}
.header-contacts-tel span {
  font-size: 24px;
  color: #000;
}
.header-contacts-callback {
  padding: 10px 35px;
}
.section-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 29px;
  text-align: center;
}
hr {
  width: 365px;
  height: 1px;
  margin: 18px auto 0;
  border: none;
  background: #77808b;
}
.promo {
  padding: 60px 0;
  color: #fff;
  background: url('../img/bg-promo.jpg') no-repeat top left;
  background-size: cover;
}
.animate {
  transition: all 0.55s ease;
}
.promo-sale {
  display: block;
  margin-top: 60px;
  font-size: 25px;
  line-height: 33px;
  position: relative;
  left: -100px;
  opacity: 0;
}
.promo-sale.visible {
  left: 0;
  opacity: 1;
}
.promo-sale span {
  font-family: 'LatoLight', 'Roboto', sans-serif;
  font-size: 24px;
}
.promo-goods-list {
  margin-top: 50px;
  position: relative;
  left: -200px;
  opacity: 0;
}
.promo-goods-list.visible {
  left: 0;
  opacity: 1;
}
.promo-goods-single {
  display: inline-block;
  margin-right: 50px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
}
.promo-goods-single figcaption {
  margin-top: 10px;
}
.promo-about,
.promo-callback {
  width: 360px;
  margin-left: 75px;
  font-size: 16px;
  position: relative;
  left: -400px;
  opacity: 0;
}
.promo-about.visible,
.promo-callback.visible {
  left: 0;
  opacity: 1;
}
.promo-about {
  margin-top: 47px;
}
.promo-callback {
  margin-top: 20px;
  left: -600px;
}
.goods-list {
  margin-top: 65px;
  margin-left: -45px;
  margin-right: -45px;
  position: relative;
  bottom: -70px;
  opacity: 0;
}
.goods-list.visible {
  bottom: 0;
  opacity: 1;
}
.goods-single {
  float: left;
  width: 25%;
  padding: 0 45px;
  text-align: center;
}
.goods-single-img {
  position: relative;
  width: 100%;
  height: 261px;
  overflow: hidden;
}
.goods-single-img img {
  width: 100%;
  height: auto;
}
.goods-single-img figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.goods-single-img a {
  display: block;
  padding: 15px 0;
  color: #fff;
}
.goods-single-img a:hover {
  text-decoration: none;
}
.goods-single-title {
  margin-top: 23px;
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.goods-single-title a {
  color: #000;
  text-decoration: none;
}
.goods-single-title a:hover {
  color: #f72d20;
}
.goods-single-bar {
  margin-top: 23px;
}
.goods-single-price,
.goods-single-available {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}
.old-price {
  display: block;
  font-size: 18px;
  color: grey !important;
  text-decoration: line-through;
}
.goods-single-price {
  padding-right: 10px;
  font-size: 20px;
  line-height: 1;
  text-align: right;
}
.goods-single-available {
  padding-left: 10px;
  text-align: left;
  color: #218b0d;
}
.goods-single-buy {
  float: left;
  padding: 10.5px 40px;
  font-size: 16px;
}
.goods-single-info {
  font-size: 14px;
  line-height: 39px;
  text-align: right;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.goods-single-info:hover {
  border-color: transparent;
}
.catalog {
  padding: 65px 0;
}
.advantages {
  padding: 60px 0;
  color: #fff;
  background: url('../img/bg-advantages.jpg') no-repeat top left;
  background-size: cover;
}
.advantages hr {
  background: #fff;
  opacity: 1;
}
.advantages-list {
  margin: 75px -45px 0;
  position: relative;
  bottom: -70px;
  opacity: 0;
}
.advantages-list.visible {
  bottom: 0;
  opacity: 1;
}
.advantage-single {
  float: left;
  width: 25%;
  padding: 0 45px;
  text-align: center;
}
.advantage-single .img-wrapper {
  height: 95px;
}
.advantage-single figcaption {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.advantage-single img {
  width: 25%;
}
.offer {
  padding: 60px 0;
  background: #fafafa;
  text-align: center;
}
.offer hr {
  margin-bottom: 60px;
}
.offer-desc,
.offer-img {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.offer-desc {
  width: 450px;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  position: relative;
  left: -100px;
  opacity: 0;
}
.offer-desc.visible {
  left: 0;
  opacity: 1;
}
.offer-desc a {
  margin-top: 33px;
  padding: 16px 65px;
  border-radius: 25px;
}
.offer-img {
  width: 200px;
  height: 200px;
  background: url('../img/icon-truck-white.png') no-repeat center center #212326;
  border-radius: 50%;
  position: relative;
  right: -100px;
  opacity: 0;
}
.offer-img.visible {
  right: 0;
  opacity: 1;
}
.interesting {
  padding: 60px 0 80px;
  color: #fff;
  background: url('../img/bg-interesting.jpg') no-repeat top left;
  background-size: cover;
}
.interesting hr {
  background: #fff;
  opacity: 1;
}
.interesting-goods-list {
  text-align: center;
}
.interesting-goods-single {
  float: none;
  display: inline-block;
  margin-right: -4px;
}
.interesting-goods-single .goods-single-title a:not(:hover),
.interesting-goods-single .goods-single-info {
  color: #fff;
}
.interesting-goods-single .goods-single-info:not(:hover) {
  border-color: #fff;
}
.interesting-goods-single .old-price {
  color: #fff !important;
}
.about {
  padding: 60px 0;
}
.about hr {
  margin-bottom: 60px;
}
.about-desc,
.about-video {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}
.about-desc {
  padding-right: 55px;
  text-align: center;
}
.about-desc p {
  margin: 0;
  line-height: 25px;
}
.about-list {
  margin-top: 50px;
}
.about-single {
  display: inline-block;
  width: 33.333333333%;
  width: calc(100% / 3);
  width: -webkit-calc(100% / 3);
  width: -ms-calc(100% / 3);
  width: -moz-calc(100% / 3);
  width: -o-calc(100% / 3);
  margin-right: -4px;
  vertical-align: top;
  position: relative;
  left: -70px;
  opacity: 0;
}
.about-single.visible {
  left: 0;
  opacity: 1;
}
.about-single .img-wrapper {
  height: 120px;
}
.about-single:last-child img {
  margin-top: 17px;
}
.about-video img {
  width: 100%;
  height: 435px;
  cursor: pointer;
}
.testimonials {
  position: relative;
  min-height: 645px;
  padding: 60px 0;
  color: #fff;
  background-size: cover;
  overflow: hidden;
}
.testimonials h2,
.testimonials hr {
  position: relative;
  z-index: 1;
}
.testimonials hr {
  background: #fff;
  opacity: 1;
}
.testimonials-img-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.testimonials-img-slider img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
}
.testimonials-img-slider,
.testimonials-img-slider .slick-list,
.testimonials-img-slider .slick-track {
  height: 100%;
}
.testimonials-slider {
  margin-top: 65px;
  text-align: center;
}
.slide-inner {
  max-width: 1060px;
  margin: 0 auto;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.6);
}
.testimonials-client {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.testimonials-client img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: baseline;
}
.testimonials-info {
  margin: 10px 0 0;
}
.testimonials-desc {
  margin-top: 40px;
}
.testimonials-desc p {
  max-width: 1030px;
  margin: 15px auto;
  font-size: 18px;
  line-height: 28px;
}
.testimonials-desc a {
  display: inline-block;
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.testimonials-desc a:hover {
  border-color: transparent;
}
.slick-slide {
  outline: none;
}
.testimonials-slider-prev,
.testimonials-slider-next {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  width: 28px;
  height: 52px;
  background: url('../img/icon-arrow-white.png') no-repeat center center;
  cursor: pointer;
  opacity: 0.6;
}
.testimonials-slider-prev:hover,
.testimonials-slider-next:hover {
  opacity: 1;
}
.testimonials-slider-prev {
  left: 30px;
}
.testimonials-slider-next {
  right: 30px;
  transform: rotate(180deg);
}
.slick-dots {
  margin: 55px 0 0;
  padding: 0;
  list-style: none;
}
.slick-dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 6px;
  background: #68696b;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background: #f72d20;
}
.slick-dots button {
  display: none;
}
.delivery {
  padding: 60px 0 80px;
  text-align: center;
}
.delivery hr {
  margin-bottom: 35px;
}
.delivery-courier,
.delivery-pickup {
  opacity: 0;
  transform: scale(0);
}
.delivery-courier.visible,
.delivery-pickup.visible {
  transform: scale(1);
  opacity: 1;
}
.delivery-courier {
  margin-left: 75px;
}
.delivery-pickup {
  margin-right: 75px;
}
.delivery-pickup .delivery-title {
  margin-top: 22px;
}
.delivery-title {
  display: block;
  margin: 20px 0;
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.delivery-desc {
  margin: 0;
  font-size: 18px;
}
.delivery-desc span {
  color: #f72d20;
}
.feedback {
  padding: 60px 0 60px;
  color: #fff;
  text-align: center;
  background: url('../img/bg-feedback.jpg') no-repeat left top;
  background-size: cover;
}
.feedback .section-title {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
}
.feedback-desc {
  margin-top: 25px;
  font-size: 18px;
}
footer {
  padding: 10px 0 5px;
  text-align: right;
}
footer a {
  color: #fc6556;
  text-decoration: none;
}
form input[type=text],
form input[type=email] {
  display: inline-block;
  width: 300px;
  margin-right: 30px;
  padding: 16px 30px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 35px;
  vertical-align: top;
}
form .button-red {
  width: 300px;
  font-size: 16px;
  padding: 17.5px 30px;
  border-radius: 35px;
}
.feedback-form {
  margin-top: 60px;
  opacity: 0;
}
.feedback-form.visible {
  opacity: 1;
}
.roistat-promo-wrap {
  display: none !important;
}
script + div:after,
#lightbox + div:after {
  content: none;
}
@media screen and (max-width: 1440px) {
  .container,
  #cart,
  #item,
  #sale {
    width: 1200px;
  }
  .header-cart {
    margin-left: 50px;
  }
  .promo .section-title {
    line-height: normal;
  }
  .goods-list {
    margin-left: -25px;
    margin-right: -25px;
  }
  .goods-single {
    padding: 0 25px;
  }
  .goods-single-img {
    height: 235px;
  }
  form input[type=text],
  form .button {
    width: 340px;
  }
  form input[type=text] {
    margin-right: 10px;
  }
  .sale-goods-desc {
    width: 200px;
  }
  .sale-goods-img {
    height: 175px;
  }
}
@media screen and (max-width: 1220px) {
  .container,
  #cart,
  #item,
  #sale {
    width: 1000px;
  }
  .header-menu ul li {
    margin-right: 20px;
  }
  .header-menu ul li:after {
    margin-left: 25px;
  }
  .header-cart-goods {
    display: none;
  }
  .goods-list {
    margin-left: -25px;
    margin-right: -25px;
  }
  .goods-single {
    padding: 0 10px;
  }
  .goods-single-price {
    font-size: 18px;
    text-align: left;
  }
  .goods-single-available {
    text-align: right;
    font-size: 14px;
  }
  .goods-single-buy {
    padding: 10.5px 30px;
  }
  .advantages {
    min-height: 0;
  }
  .advantage-single .img-wrapper {
    height: 115px;
  }
  .advantage-single figcaption {
    font-size: 18px;
    line-height: normal;
  }
  .about-video img {
    height: auto;
  }
  .slick-arrow {
    display: none !important;
  }
  .delivery-courier,
  .delivery-pickup {
    width: 50%;
    margin: 0;
  }
  form .button {
    margin-top: 20px;
  }
  .item-gallery {
    width: 370px;
  }
  .item-gallery-big {
    height: 340px;
  }
  .sale-goods-desc {
    width: 175px;
  }
  .sale-goods-img {
    height: 165px;
  }
  .sale-goods-single {
    padding: 20px;
  }
  .sale-goods-attributes {
    padding-top: 10px;
    padding-left: 15px;
  }
  .sale-goods-price {
    padding-top: 15px;
  }
}
@media screen and (max-width: 1020px) {
  .container,
  #cart,
  #item,
  #sale,
  #order,
  #thanks {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .button {
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 25px;
  }
  .animate {
    position: static !important;
    transform: none !important;
  }
  .header-menu {
    height: 117px;
    text-align: left;
  }
  .header-menu ul {
    margin-bottom: -15px;
  }
  .header-menu ul li {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    margin-bottom: 15px;
    vertical-align: top;
  }
  .header-menu ul li:after {
    content: none;
  }
  .header-content {
    margin-top: 117px;
    padding: 10px 0;
    text-align: center;
  }
  .header-logo,
  .header-cart,
  .header-contacts {
    margin: 0 auto;
    text-align: center;
  }
  .header-logo {
    float: none;
    display: block;
    margin-bottom: 25px;
  }
  .header-logo span {
    display: none;
  }
  .header-cart,
  .header-contacts {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
  }
  .header-cart {
    float: left;
    margin-top: 30px;
    padding: 0;
    text-align: left;
    background: none;
  }
  .cart-popup {
    display: none;
  }
  .cart-popup.show-mobile {
    display: inline-block;
  }
  .header-contacts {
    text-align: right;
  }
  .promo {
    padding: 30px 0;
  }
  .promo .section-title {
    font-size: 30px;
    line-height: normal;
  }
  .promo-sale {
    margin-top: 45px;
  }
  .promo-goods-single {
    display: block;
    margin: 25px auto;
  }
  .promo-about,
  .promo-callback {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    font-size: 16px;
  }
  hr {
    width: 100%;
  }
  .goods-list {
    margin: 30px 0 0;
  }
  .goods-single {
    float: none;
    width: 100%;
    margin-bottom: 50px;
  }
  .goods-single:last-child {
    margin-bottom: 0;
  }
  .goods-single-title {
    margin-top: 15px;
  }
  .goods-single-bar {
    margin-top: 15px;
  }
  .goods-single-available,
  .goods-single-info {
    font-size: 16px;
  }
  .goods-single-buy {
    float: none;
    display: block;
    margin: 0 0 10px;
    padding: 14px 30px;
    width: 100%;
    border-radius: 25px;
  }
  .goods-single-info {
    line-height: normal;
  }
  .catalog {
    padding: 30px 0;
  }
  #noty_bottomRight_layout_container {
    width: 100% !important;
    right: 0 !important;
    bottom: 0 !important;
  }
  #noty_bottomRight_layout_container li {
    width: 100% !important;
  }
  .advantages {
    padding: 30px 0;
  }
  .advantages-list {
    margin: 30px 0 0;
  }
  .advantage-single {
    float: none;
    width: 100%;
    margin-bottom: 50px;
    padding: 0;
  }
  .advantage-single .img-wrapper {
    height: auto;
  }
  .advantage-single:last-child {
    margin-bottom: 0;
  }
  .offer {
    padding: 30px 0;
  }
  .offer hr {
    margin-bottom: 30px;
  }
  .offer-desc {
    display: block;
    margin-right: 0;
  }
  .offer-desc {
    width: 100%;
    margin-top: 0;
    font-size: 20px;
    line-height: normal;
  }
  .offer-desc a {
    display: block;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
  }
  .offer-img {
    display: none;
  }
  .interesting {
    padding: 30px 0;
  }
  .about {
    padding: 30px 0;
  }
  .about hr {
    margin-bottom: 30px;
  }
  .about-desc,
  .about-video {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about-list {
    margin-top: 30px;
  }
  .about-single {
    display: block;
    width: 100% !important;
    margin: 0 0 30px;
  }
  .about-single .img-wrapper {
    height: auto;
  }
  .about-video iframe {
    height: 200px;
  }
  .testimonials {
    min-height: 0;
    padding: 30px 0;
  }
  .testimonials-slider {
    margin-top: 30px;
  }
  .testimonials-desc {
    margin-top: 20px;
  }
  .testimonials-desc a {
    margin-top: 15px;
  }
  .testimonials-desc p {
    font-size: 18px;
    line-height: normal;
  }
  .delivery {
    padding: 30px 0;
  }
  .delivery hr {
    margin-bottom: 30px;
  }
  .delivery-courier,
  .delivery-pickup {
    float: none;
    width: 100%;
  }
  .delivery-pickup {
    margin-top: 30px;
  }
  .delivery-title {
    margin: 10px 0 !important;
    font-size: 22px;
    line-height: normal;
  }
  .delivery-desc {
    font-size: 18px;
    line-height: normal;
  }
  .feedback {
    min-height: 0;
    padding: 30px 0;
  }
  .feedback .section-title {
    font-size: 30px;
    line-height: normal;
  }
  .feedback-desc {
    font-size: 18px;
    line-height: normal;
  }
  .feedback-form {
    margin-top: 35px;
  }
  form input[type=text],
  form input[type=submit] {
    width: 100%;
    display: block;
    margin: 0 0 10px;
    padding: 14px 30px;
    line-height: normal;
  }
  form .button-red {
    font-size: 16px;
  }
  .modal .section-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: normal;
  }
  .item-gallery {
    width: 100%;
  }
  .item-gallery-big {
    height: auto;
  }
  .item-gallery-thmb a {
    height: 55px !important;
  }
  .item-attributes {
    padding-left: 0;
    font-size: 18px;
  }
  .item-desc {
    margin-top: 30px;
  }
  .item-buy,
  .sale-bar {
    margin-top: 30px;
  }
  .item-buy span,
  .sale-bar span,
  .item-buy .button,
  .sale-bar .button {
    display: block;
    width: 100%;
    margin: 10px 0 0;
  }
  .sale-goods-single {
    float: none;
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
  }
  .sale-goods-single:last-child {
    margin-bottom: 0;
  }
  .sale-goods-desc {
    width: 100%;
  }
  .sale-goods-img {
    height: auto;
  }
  .sale-goods-price {
    padding-top: 5px;
  }
  .cart-bar {
    text-align: center;
  }
  .cart-total,
  .button-order {
    display: block;
    width: 100%;
    margin: 10px 0 0;
  }
  .table-wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  .table-wrapper table {
    width: 700px;
  }
}
