@media screen and (max-width: 1440px) {

    .container, #cart, #item, #sale {
        width: 1200px;
    }

    .header-cart {
        margin-left: 50px;
    }

    .promo {

        .section-title {
            line-height: normal;
        }
    }

    .goods-list {
        margin-left: -25px;
        margin-right: -25px;
    }

    .goods-single {
        padding: 0 25px;
    }

    .goods-single-img {
        height: 235px;
    }

    form {

        input[type=text],
        .button {
            width: 340px;
        }

        input[type=text] {
            margin-right: 10px;
        }
    }

    .sale-goods-desc {
        width: 200px;
    }

    .sale-goods-img {
        height: 175px;
    }
}

@media screen and (max-width: 1220px) {

    .container, #cart, #item, #sale {
        width: 1000px;
    }

    .header-menu {

        ul {
            li {
                margin-right: 20px;

                &:after {
                    margin-left: 25px;
                }
            }
        }
    }

    .header-cart-goods {
        display: none;
    }

    .goods-list {
        margin-left: -25px;
        margin-right: -25px;
    }

    .goods-single {
        padding: 0 10px;
    }

    .goods-single-price {
        font-size: 18px;
        text-align: left;
    }

    .goods-single-available {
        text-align: right;
        font-size: 14px;
    }

    .goods-single-buy {
        padding: 10.5px 30px;
    }

    .advantages {
        min-height: 0;
    }

    .advantage-single {

        .img-wrapper {
            height: 115px;
        }

        figcaption {
            font-size: 18px;
            line-height: normal;
        }
    }

    .about-video {

        img {
            height: auto;
        }
    }

    .slick-arrow {
        display: none !important;
    }

    .delivery-courier,
    .delivery-pickup {
        width: 50%;
        margin: 0;
    }

    form {

        .button {
            margin-top: 20px;
        }
    }

    .item-gallery {
        width: 370px;
    }

    .item-gallery-big {
        height: 340px;
    }

    // .item-gallery-thmb {
    //
    //     a {
    //         height: 90px;
    //     }
    // }

    .sale-goods-desc {
        width: 175px;
    }

    .sale-goods-img {
        height: 165px;
    }

    .sale-goods-single {
        padding: 20px;
    }

    .sale-goods-attributes {
        padding-top: 10px;
        padding-left: 15px;
    }

    .sale-goods-price {
        padding-top: 15px;
    }
}

@media screen and (max-width: 1020px) {

    .container, #cart, #item, #sale, #order, #thanks {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .button {
        padding: 14px 30px;
        font-size: 16px;
        border-radius: 25px;
    }

    .animate {
        position: static !important;
        transform: none !important;
    }

    .header-menu {
        height: 117px;
        text-align: left;

        ul {
            margin-bottom: -15px;

            li {
                display: inline-block;
                width: 50%;
                margin-right: -4px;
                margin-bottom: 15px;
                vertical-align: top;

                &:after {
                    content: none;
                }
            }
        }
    }

    .header-content {
        margin-top: 117px;
        padding: 10px 0;
        text-align: center;
    }

    .header-logo,
    .header-cart,
    .header-contacts {
        margin: 0 auto;
        text-align: center;
    }

    .header-logo {
        float: none;
        display: block;
        margin-bottom: 25px;

        span {
            display: none;
        }
    }

    .header-cart,
    .header-contacts {
        display: inline-block;
        margin-right: -4px;
        vertical-align: middle;
    }

    .header-cart {
        float: left;
        margin-top: 30px;
        padding: 0;
        text-align: left;
        background: none;
    }

    .cart-popup {
        display: none;
    }

    .cart-popup.show-mobile {
        display: inline-block;
    }

    .header-contacts {
        text-align: right;
    }

    // main {
    //     padding-top: 275px;
    // }

    .promo {
        padding: 30px 0;

        .section-title {
            font-size: 30px;
            line-height: normal;
        }
    }

    .promo-sale {
        margin-top: 45px;
    }

    .promo-goods-single {
        display: block;
        margin: 25px auto;
    }

    .promo-about, .promo-callback {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        font-size: 16px;
    }

    hr {
        width: 100%;
    }

    .goods-list {
        margin: 30px 0 0;
    }

    .goods-single {
        float: none;
        width: 100%;
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .goods-single-title {
        margin-top: 15px;
    }

    .goods-single-bar {
        margin-top: 15px;
    }

    .goods-single-available,
    .goods-single-info {
        font-size: 16px;
    }

    .goods-single-buy {
        float: none;
        display: block;
        margin: 0 0 10px;
        padding: 14px 30px;
        width: 100%;
        border-radius: 25px;
    }

    .goods-single-info {
        line-height: normal;
    }

    .catalog {
        padding: 30px 0;
    }

    #noty_bottomRight_layout_container {
        width: 100% !important;
        right: 0 !important;
        bottom: 0 !important;

        li {
            width: 100% !important;
        }
    }

    .advantages {
        padding: 30px 0;
    }

    .advantages-list {
        margin: 30px 0 0;
    }

    .advantage-single {
        float: none;
        width: 100%;
        margin-bottom: 50px;
        padding: 0;

        .img-wrapper {
            height: auto;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .offer {
        padding: 30px 0;

        hr {
            margin-bottom: 30px;
        }
    }

    .offer-desc{
        display: block;
        margin-right: 0;
    }

    .offer-desc {
        width: 100%;
        margin-top: 0;
        font-size: 20px;
        line-height: normal;

        a {
            display: block;
            width: 100%;
            margin-top: 15px;
            font-size: 16px;
        }
    }

    .offer-img {
        display: none;
    }

    .interesting {
        padding: 30px 0;
    }

    .about {
        padding: 30px 0;

        hr {
            margin-bottom: 30px;
        }
    }

    .about-desc,
    .about-video {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .about-list {
        margin-top: 30px;
    }

    .about-single {
        display: block;
        width: 100% !important;
        margin: 0 0 30px;

        .img-wrapper {
            height: auto;
        }
    }

    .about-video {

        iframe {
            height: 200px;
        }
    }

    .testimonials {
        min-height: 0;
        padding: 30px 0;
    }

    .testimonials-slider {
        margin-top: 30px;
    }

    .testimonials-desc {
        margin-top: 20px;

        a {
            margin-top: 15px;
        }

        p {
            font-size: 18px;
            line-height: normal;
        }
    }

    .delivery {
        padding: 30px 0;

        hr {
            margin-bottom: 30px;
        }
    }

    .delivery-courier, .delivery-pickup {
        float: none;
        width: 100%;
    }

    .delivery-pickup {
        margin-top: 30px;
    }

    .delivery-title {
        margin: 10px 0 !important;
        font-size: 22px;
        line-height: normal;
    }

    .delivery-desc {
        font-size: 18px;
        line-height: normal;
    }

    .feedback {
        min-height: 0;
        padding: 30px 0;

        .section-title {
            font-size: 30px;
            line-height: normal;
        }
    }

    .feedback-desc {
        font-size: 18px;
        line-height: normal;
    }

    .feedback-form {
        margin-top: 35px;
    }

    form {

        input[type=text],
        input[type=submit] {
            width: 100%;
            display: block;
            margin: 0 0 10px;
            padding: 14px 30px;
            line-height: normal;
        }

        .button-red {
            font-size: 16px;
        }
    }

    .modal {

        .section-title {
            margin-bottom: 30px;
            font-size: 30px;
            line-height: normal;
        }
    }

    .item-gallery {
        width: 100%;
    }

    .item-gallery-big {
        height: auto;
    }

    // .item-gallery-thmb {
    //     display: none;
    // }

    .item-gallery-thmb {

        a {
            height: 55px !important;
        }
    }

    .item-attributes {
        padding-left: 0;
        font-size: 18px;
    }

    .item-desc {
        margin-top: 30px;
    }

    .item-buy,
    .sale-bar {
        margin-top: 30px;

        span,
        .button {
            display: block;
            width: 100%;
            margin: 10px 0 0;
        }
    }

    .sale-goods-single {
        float: none;
        width: 100%;
        margin-bottom: 30px;
        padding: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .sale-goods-desc {
        width: 100%;
    }

    .sale-goods-img {
        height: auto;
    }

    .sale-goods-price {
        padding-top: 5px;
    }

    .cart-bar {
        text-align: center;
    }

    .cart-total,
    .button-order {
        display: block;
        width: 100%;
        margin: 10px 0 0;
    }

    .table-wrapper {
        width: 100%;
        overflow-x: scroll;

        table {
            width: 700px;
        }
    }
}
