.button {
    position: relative;
    display: inline-block;
    padding: 12px 40px;
    // font-size: 18px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border: 1px solid;
    border-radius: 20px;
    transition: all 0.15s linear;

    &:active {
        top: 2px;
    }
}

.button-outline-white {
    color: #fff;
    border-color: #fff;

    &:hover {
        color: #f72d20;
        background: #fff;
    }
}

.button-outline-red {
    color: #f72d20;
    border-color: #f72d20;

    &:hover {
        color: #fff;
        background: #f72d20;
    }
}

.button-red {
    color: #fff;
    background: #f72d20;
    border-color: #f72d20;

    &:hover {
        color: #f72d20;
        background: transparent;
    }
}

.button-white {
    color: #f72d20;
    background: #fff;
    border-color: #fff;

    &:hover {
        color: #fff;
        background: transparent;
    }
}
