// #header
.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    padding: 15px 0;
    background: #77808b;
    text-align: center;

    ul {

        li {
            display: inline-block;
            // margin-right: 40px;
            margin-right: 30px;
            vertical-align: middle;

            &:after {
                content: '/';
                // margin-left: 45px;
                margin-left: 35px;
                color: #fff;
            }
            &:last-child {
                margin-right: -4px;
            }
            &:last-child:after {
                content: none;
            }
        }

        a {
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid transparent;

            &:hover {
                border-color: #fff;
            }
        }
    }
}

.show-mobile {
    display: none;
}

.header-content {
    margin-top: 50px;
    padding: 40px 0;
    background: #fff;
}

.header-logo {
    margin-top: 15px;
    color: #000;
    text-decoration: none;

    span {
        display: inline-block;
        margin-left: 25px;
        vertical-align: top;
        line-height: 20px;
    }
}

.header-cart {
    margin-left: 145px;
    padding: 27px 40px;
    padding-left: 80px;
    background: url('../img/icon-cart-grey.png') no-repeat left 40px center #e5e5e5;

    a {
        color: #000;
        text-decoration: none;
    }
}

.header-cart-label,
.header-cart-goods {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
    line-height: 1;
}

.header-cart-label {
    color: #f72d20;
}

.header-cart-quantity {
    border-bottom: 1px dashed #949494;
}

.header-cart-goods {
    margin: 0;
    margin-left: 10px;
    color: #949494;
}

.header-contacts {
    text-align: right;
}

.header-contacts-tel {
    display: block;
    margin-bottom: 7px;
    text-decoration: none;
    line-height: 1;
    color: #727272;

    span {
        font-size: 24px;
        color: #000;
    }
}

.header-contacts-callback {
    padding: 10px 35px;
}

.section-title {
    font-weight: 300;
    // font-size: 40px;
    font-size: 32px;
    // line-height: 37px;
    line-height: 29px;
    text-align: center;
}

hr {
    width: 365px;
    height: 1px;
    margin: 18px auto 0;
    border: none;
    background: #77808b;
}

// main {
//     padding-top: 203px;
// }

// #promo
.promo {
    padding: 60px 0;
    color: #fff;
    background: url('../img/bg-promo.jpg') no-repeat top left;
    background-size: cover;

    // .section-title {
    //     font-size: 45px;
    //     line-height: 30px;
    // }
}

.animate {
    transition: all 0.55s ease;
}

.promo-sale {
    display: block;
    // margin-top: 90px;
    margin-top: 60px;
    // font-size: 30px;
    // line-height: 38px;
    font-size: 25px;
    line-height: 33px;
    //
    position: relative;
    left: -100px;
    opacity: 0;

    &.visible {
        left: 0;
        opacity: 1;
    }

    span {
        font-family: @light;
        font-size: 24px;
    }
}

.promo-goods-list {
    margin-top: 50px;
    //
    position: relative;
    left: -200px;
    opacity: 0;

    &.visible {
        left: 0;
        opacity: 1;
    }
}

.promo-goods-single {
    display: inline-block;
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    vertical-align: top;

    figcaption {
        margin-top: 10px;
    }
}

.promo-about,
.promo-callback {
    width: 360px;
    margin-left: 75px;
    // font-size: 20px;
    font-size: 16px;
    //
    position: relative;
    left: -400px;
    opacity: 0;

    &.visible {
        left: 0;
        opacity: 1;
    }

}

.promo-about {
    margin-top: 47px;
}

.promo-callback {
    margin-top: 20px;
    //
    left: -600px;
}

// #goods list
.goods-list {
    margin-top: 65px;
    margin-left: -45px;
    margin-right: -45px;
    //
    position: relative;
    bottom: -70px;
    opacity: 0;

    &.visible {
        bottom: 0;
        opacity: 1;
    }
}

.goods-single {
    float: left;
    width: 25%;
    padding: 0 45px;
    text-align: center;
}

.goods-single-img {
    position: relative;
    width: 100%;
    height: 261px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }

    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    a {
        display: block;
        padding: 15px 0;
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }
}

.goods-single-title {
    margin-top: 23px;
    font-family: @regular;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    a {
        color: #000;
        text-decoration: none;

        &:hover {
            color: #f72d20;
        }
    }
}

.goods-single-bar {
    margin-top: 23px;
}

.goods-single-price,
.goods-single-available {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.old-price {
    display: block;
    font-size: 18px;
    color: grey !important;
    text-decoration: line-through;
}

.goods-single-price {
    padding-right: 10px;
    font-size: 20px;
    line-height: 1;
    text-align: right;
}

.goods-single-available {
    padding-left: 10px;
    text-align: left;
    color: #218b0d;
}

.goods-single-buy {
    float: left;
    padding: 10.5px 40px;
    font-size: 16px;
}

.goods-single-info {
    font-size: 14px;
    line-height: 39px;
    text-align: right;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;

    &:hover {
        border-color: transparent;
    }
}

// #catalog
.catalog {
    padding: 65px 0;
}

// #advantages
.advantages {
    // min-height: 498px;
    // padding: 60px 0 100px;
    padding: 60px 0;
    color: #fff;
    background: url('../img/bg-advantages.jpg') no-repeat top left;
    background-size: cover;

    hr {
        background: #fff;
        opacity: 1;
    }
}

.advantages-list {
    margin: 75px -45px 0;
    //
    position: relative;
    bottom: -70px;
    opacity: 0;

    &.visible {
        bottom: 0;
        opacity: 1;
    }
}

.advantage-single {
    float: left;
    width: 25%;
    padding: 0 45px;
    text-align: center;

    .img-wrapper {
        // height: 140px;
        height: 95px;
    }

    figcaption {
        font-family: @regular;
        font-weight: 400;
        // font-size: 30px;
        font-size: 20px;
        // line-height: 30px;
    }

    img {
        width: 25%;
    }
}

// #offer
.offer {
    padding: 60px 0;
    background: #fafafa;
    text-align: center;

    hr {
        margin-bottom: 60px;
    }
}

.offer-desc,
.offer-img {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.offer-desc {
    // width: 500px;
    width: 450px;
    // font-size: 30px;
    font-size: 25px;
    // line-height: 35px;
    line-height: 30px;
    text-align: left;
    //
    position: relative;
    left: -100px;
    opacity: 0;

    &.visible {
        left: 0;
        opacity: 1;
    }

    a {
        margin-top: 33px;
        padding: 16px 65px;
        // font-size: 20px;
        border-radius: 25px;
    }
}

.offer-img {
    // width: 250px;
    // height: 250px;
    width: 200px;
    height: 200px;
    background: url('../img/icon-truck-white.png') no-repeat center center #212326;
    border-radius: 50%;
    //
    position: relative;
    right: -100px;
    opacity: 0;

    &.visible {
        right: 0;
        opacity: 1;
    }
}

// #interesting
.interesting {
    padding: 60px 0 80px;
    color: #fff;
    background: url('../img/bg-interesting.jpg') no-repeat top left;
    background-size: cover;

    hr {
        background: #fff;
        opacity: 1;
    }
}

.interesting-goods-list {
    text-align: center;
}

.interesting-goods-single {
    float: none;
    display: inline-block;
    margin-right: -4px;

    .goods-single-title a:not(:hover),
    .goods-single-info {
        color: #fff;
    }

    .goods-single-info:not(:hover) {
        border-color: #fff;
    }

    .old-price {
        color: #fff !important;
    }
}

// #about
.about {
    padding: 60px 0;

    hr {
        margin-bottom: 60px;
    }
}

.about-desc,
.about-video {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.about-desc {
    padding-right: 55px;
    text-align: center;

    p {
        margin: 0;
        line-height: 25px;
    }
}

.about-list {
    margin-top: 50px;
}

.about-single {
    display: inline-block;
    width: 33.333333333%;
    width: ~"calc(100% / 3)";
    width: ~"-webkit-calc(100% / 3)";
    width: ~"-ms-calc(100% / 3)";
    width: ~"-moz-calc(100% / 3)";
    width: ~"-o-calc(100% / 3)";
    margin-right: -4px;
    vertical-align: top;
    //
    position: relative;
    left: -70px;
    opacity: 0;

    &.visible {
        left: 0;
        opacity: 1;
    }

    .img-wrapper {
        height: 120px;
    }

    &:last-child {

        img {
            margin-top: 17px;
        }
    }
}

.about-video {

    img {
        width: 100%;
        height: 435px;
        cursor: pointer;
    }
}

// #testimonials
.testimonials {
    position: relative;
    min-height: 645px;
    padding: 60px 0;
    color: #fff;
    //background: url('../img/bg-testimonials.jpg') no-repeat top left;
    background-size: cover;
    overflow: hidden;

    h2, hr {
        position: relative;
        z-index: 1;
    }

    hr {
        background: #fff;
        opacity: 1;
    }
}


.testimonials-img-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        -o-object-fit: cover;
        -webkit-object-fit: cover;
        -moz-object-fit: cover;
        -ms-object-fit: cover;
    }

    &,
    .slick-list,
    .slick-track {
        height: 100%;
    }
}

.testimonials-slider {
    margin-top: 65px;
    text-align: center;
}

.slide-inner {
    max-width: 1060px;
    margin: 0 auto;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.6);
}

.testimonials-client {
    font-family: @regular;
    font-weight: 400;
    font-size: 25px;

    img {
        display: inline-block;
        margin-right: 5px;
        vertical-align: baseline;
    }
}

.testimonials-info {
    margin: 10px 0 0;
}

.testimonials-desc {
    margin-top: 40px;

    p {
        max-width: 1030px;
        margin: 15px auto;
        // font-size: 20px;
        font-size: 18px;
        // line-height: 30px;
        line-height: 28px;
    }

    a {
        display: inline-block;
        // margin-top: 35px;
        margin-top: 25px;
        // font-size: 20px;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;

        &:hover {
            border-color: transparent;
        }
    }
}

.slick-slide { outline: none; }

.testimonials-slider-prev,
.testimonials-slider-next {
    position: absolute;
    top: 50%;
    margin-top: -26px;
    width: 28px;
    height: 52px;
    background: url('../img/icon-arrow-white.png') no-repeat center center;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

.testimonials-slider-prev {
    left: 30px;
}

.testimonials-slider-next {
    right: 30px;
    transform: rotate(180deg);
}

.slick-dots {
    margin: 55px 0 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 6px;
        background: #68696b;
        vertical-align: middle;
        border-radius: 50%;
        cursor: pointer;

        &.slick-active {
            background: #f72d20;
        }
    }

    button {
        display: none;
    }
}

// #delivery
.delivery {
    padding: 60px 0 80px;
    text-align: center;

    hr {
        // margin-bottom: 60px;
        margin-bottom: 35px;
    }
}

.delivery-courier,
.delivery-pickup {
    //
    opacity: 0;
    transform: scale(0);

    &.visible {
        transform: scale(1);
        opacity: 1;
    }
}

.delivery-courier {
    margin-left: 75px;
}

.delivery-pickup {
    margin-right: 75px;

    .delivery-title {
        // margin-top: 27px;
        margin-top: 22px;
    }
}

.delivery-title {
    display: block;
    // margin: 25px 0;
    margin: 20px 0;
    font-family: @regular;
    font-weight: 400;
    // font-size: 30px;
    font-size: 25px;
}

.delivery-desc {
    margin: 0;
    // font-size: 20px;
    font-size: 18px;
    // line-height: 37px;

    span {
        color: #f72d20;
    }
}

// #feedback
.feedback {
    // min-height: 408px;
    padding: 60px 0 60px;
    color: #fff;
    text-align: center;
    background: url('../img/bg-feedback.jpg') no-repeat left top;
    background-size: cover;

    .section-title {
        font-family: @regular;
        font-weight: 400;
        // font-size: 45px;
        // line-height: 30px;
    }
}

.feedback-desc {
    margin-top: 25px;
    // font-size: 20px;
    font-size: 18px;
    // line-height: 30px;
}

// #footer
footer {
    padding: 10px 0 5px;
    text-align: right;

    a {
        color: #fc6556;
        text-decoration: none;
    }
}

// #form
form {

    input[type=text],
    input[type=email] {
        display: inline-block;
        //width: 405px;
        width: 300px;
        // margin-right: 85px;
        margin-right: 30px;
        // padding: 24.5px 40px;
        padding: 16px 30px;
        font-size: 16px;
        // line-height: 1;
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 35px;
        vertical-align: top;

    }

    .button-red {
        // width: 405px;
        width: 300px;
        // font-size: 20px;
        font-size: 16px;
        // padding: 24px 40px;
        padding: 17.5px 30px;
        border-radius: 35px;
    }
}

.feedback-form {
    margin-top: 60px;
    //
    opacity: 0;

    &.visible {
        opacity: 1;
    }
}

.roistat-promo-wrap {
    display: none !important;
}

script + div:after,
#lightbox + div:after {
    content: none;
}
