.modal {
    position: relative;
    margin: 0 auto;
    background: #fff;

    .section-title {
        margin-bottom: 45px;
    }

    p, strong {
        // font-size: 20px;
        font-size: 18px;
    }
}

.modal-item {
    max-width: 1400px;
    padding: 50px 60px;
}

#item {
    padding: 50px 130px;
}

.item-gallery {
    width: 515px;
}

.item-gallery-big {
    //height: 365px;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.item-gallery-thmb {
    display: none;
}

.item-gallery-big[data-good="5"] + .item-gallery-thmb {
    display: block;

    a {
        float: left;
        width: 33.333333333%;
        height: 105px;
        margin-top: 10px;
        padding-right: 10px;
        overflow: hidden;
    }

    a:nth-child(3n) {
        padding-right: 0;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.lightbox .lb-image,
.lb-outerContainer {
    border-radius: 0;
}

.item-attributes {
    padding-top: 15px;
    padding-left: 40px;
    // font-size: 20px;
    font-size: 18px;

    dl {
        margin-bottom: 10px;
    }

    dt, dd {
        display: inline-block;
        margin-right: -4px;
        vertical-align: middle;
    }

    dt {
        font-family: @regular;
        font-weight: 400;
    }

    dd {
        margin-left: 10px;
    }
}

.item-color {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;

    img {
        display: block;
        width: 26px;
        height: 26px;
    }

    &.item-color-active img {
        border: 2px solid #f72d20;
    }
}

.item-tooltips {
    margin: 35px 0 0;
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 7px;
        color: #818181;
    }

    span {
        border-bottom: 1px solid #818181;
    }
}

.item-tooltip {
    padding: 10px 20px !important;
    color: #000 !important;
    background: #fff !important;
    border: none !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 0 !important;

    div {
        font-family: @regular !important;
        font-size: 16px !important;
        line-height: 25px !important;
    }
}

.item-desc {
    margin-top: 45px;

    strong {
        display: block;
    }

    p {
        margin: 5px 0 0;
    }
}

.item-buy {
    margin-top: 50px;
    text-align: center;

    span {
        font-size: 20px;
        vertical-align: middle;
    }

    .button {
        margin-left: 25px;
    }
}

.modal-cart {
    width: 1400px;
    padding: 50px 130px;
}

.cart-table {
    width: 100%;
    margin-bottom: 45px;
    font-size: 20px;
    text-align: center;

    th {
        padding-bottom: 25px;
        font-family: @regular;
        font-weight: 400;
    }

    tr td {
        padding: 20px 0;
        vertical-align: middle;
        border-bottom: 1px solid #e5e5e5;
    }

    tr:last-child td {
        border-bottom: none;
    }

    th, td {

        &:first-child {
            text-align: left;
        }
    }
}

.cart-bar {
    text-align: right;
}

.cart-total {
    margin: 0 15px 0 0;
    display: inline-block;
    vertical-align: middle;
}

.sale-goods-single {
    float: left;
    width: 50%;
    // margin-bottom: 30px
    margin-bottom: 15px;
    //padding: 40px 50px 40px 55px;
    padding: 15px;
    // border: 2px solid transparent;
    // cursor: pointer;

    // &.selected {
    //     border-color: #f72d20;
    // }

    .goods-single-title {
        margin-top: 15px;
    }
}

.sale-goods-desc,
.sale-goods-attributes {
    float: left;
}

.sale-goods-desc {
    width: 280px;
    text-align: center;
}

.sale-goods-img {
    // height: 200px;
    // overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.sale-goods-attributes {
    padding-left: 30px;
    font-size: 16px;

    dl {
        margin-bottom: 5px;
    }
}

.sale-goods-quantity {
    width: 100px;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 25px;
}

.sale-goods-price {
    display: block;
    padding-top: 30px;
    font-size: 20px;
}

.sale-bar {
    text-align: center;

    span {
        font-size: 20px;
        vertical-align: middle;
    }

    .button {
        margin-left: 25px;
    }
}

#noty_bottomRight_layout_container {

    li {
        margin-top: 5px !important;
        border-radius: 0 !important;
        border: none !important;
        color: #000 !important;
    }
}

.noty_bar {
    padding: 10px 15px;
    background: #e5e5e5;
    //border: 1px solid #f72d20 !important;
}

.noty_message {
    padding: 10px !important;
    font-size: 16px !important;
    line-height: normal !important;

    a {
        color: #f72d20;
        text-decoration: none;
        border-bottom: 1px solid #f72d20;
    }
}

#order {
    width: 780px;
    padding: 60px 130px;
    text-align: center;

    .section-title {
        font-size: 30px;
        line-height: 40px;
    }
}

.order-form {

    input[type=text],
    input[type=email] {
        display: block;
        margin: 0 auto 25px;
        border-color: #000;
        color: #000;
    }
}

#thanks {
    width: 780px;
    padding: 80px 130px;
    text-align: center;

    .section-title {
        margin: 0;
        // font-size: 30px;
        font-size: 30px;
        // line-height: 40px;
        line-height: 27px;
    }
}

.thanks-title {
    margin: 0 0 15px;
    font-size: 40px;
    line-height: 40px;
    color: #f72d20;
}
