@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular.eot");
  src: url("../fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight.eot");
  src: url("../fonts/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight.woff") format("woff"), url("../fonts/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
a {
  outline: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
}
small {
  font-size: 12px;
}
input,
textarea,
select {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'LatoLight', 'Roboto', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.button {
  position: relative;
  display: inline-block;
  padding: 12px 40px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 1px solid;
  border-radius: 20px;
  transition: all 0.15s linear;
}
.button:active {
  top: 2px;
}
.button-outline-white {
  color: #fff;
  border-color: #fff;
}
.button-outline-white:hover {
  color: #f72d20;
  background: #fff;
}
.button-outline-red {
  color: #f72d20;
  border-color: #f72d20;
}
.button-outline-red:hover {
  color: #fff;
  background: #f72d20;
}
.button-red {
  color: #fff;
  background: #f72d20;
  border-color: #f72d20;
}
.button-red:hover {
  color: #f72d20;
  background: transparent;
}
.button-white {
  color: #f72d20;
  background: #fff;
  border-color: #fff;
}
.button-white:hover {
  color: #fff;
  background: transparent;
}
.modal {
  position: relative;
  margin: 0 auto;
  background: #fff;
}
.modal .section-title {
  margin-bottom: 45px;
}
.modal p,
.modal strong {
  font-size: 18px;
}
.modal-item {
  max-width: 1400px;
  padding: 50px 60px;
}
#item {
  padding: 50px 130px;
}
.item-gallery {
  width: 515px;
}
.item-gallery-big {
  overflow: hidden;
}
.item-gallery-big img {
  display: block;
  width: 100%;
  height: auto;
}
.item-gallery-thmb {
  display: none;
}
.item-gallery-big[data-good="5"] + .item-gallery-thmb {
  display: block;
}
.item-gallery-big[data-good="5"] + .item-gallery-thmb a {
  float: left;
  width: 33.333333333%;
  height: 105px;
  margin-top: 10px;
  padding-right: 10px;
  overflow: hidden;
}
.item-gallery-big[data-good="5"] + .item-gallery-thmb a:nth-child(3n) {
  padding-right: 0;
}
.item-gallery-big[data-good="5"] + .item-gallery-thmb img {
  display: block;
  width: 100%;
  height: auto;
}
.lightbox .lb-image,
.lb-outerContainer {
  border-radius: 0;
}
.item-attributes {
  padding-top: 15px;
  padding-left: 40px;
  font-size: 18px;
}
.item-attributes dl {
  margin-bottom: 10px;
}
.item-attributes dt,
.item-attributes dd {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.item-attributes dt {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
}
.item-attributes dd {
  margin-left: 10px;
}
.item-color {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.item-color img {
  display: block;
  width: 26px;
  height: 26px;
}
.item-color.item-color-active img {
  border: 2px solid #f72d20;
}
.item-tooltips {
  margin: 35px 0 0;
  padding: 0;
  list-style: none;
}
.item-tooltips li {
  margin-bottom: 7px;
  color: #818181;
}
.item-tooltips span {
  border-bottom: 1px solid #818181;
}
.item-tooltip {
  padding: 10px 20px !important;
  color: #000 !important;
  background: #fff !important;
  border: none !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 0 !important;
}
.item-tooltip div {
  font-family: 'LatoRegular', 'Roboto', sans-serif !important;
  font-size: 16px !important;
  line-height: 25px !important;
}
.item-desc {
  margin-top: 45px;
}
.item-desc strong {
  display: block;
}
.item-desc p {
  margin: 5px 0 0;
}
.item-buy {
  margin-top: 50px;
  text-align: center;
}
.item-buy span {
  font-size: 20px;
  vertical-align: middle;
}
.item-buy .button {
  margin-left: 25px;
}
.modal-cart {
  width: 1400px;
  padding: 50px 130px;
}
.cart-table {
  width: 100%;
  margin-bottom: 45px;
  font-size: 20px;
  text-align: center;
}
.cart-table th {
  padding-bottom: 25px;
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
}
.cart-table tr td {
  padding: 20px 0;
  vertical-align: middle;
  border-bottom: 1px solid #e5e5e5;
}
.cart-table tr:last-child td {
  border-bottom: none;
}
.cart-table th:first-child,
.cart-table td:first-child {
  text-align: left;
}
.cart-bar {
  text-align: right;
}
.cart-total {
  margin: 0 15px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.sale-goods-single {
  float: left;
  width: 50%;
  margin-bottom: 15px;
  padding: 15px;
}
.sale-goods-single .goods-single-title {
  margin-top: 15px;
}
.sale-goods-desc,
.sale-goods-attributes {
  float: left;
}
.sale-goods-desc {
  width: 280px;
  text-align: center;
}
.sale-goods-img img {
  display: block;
  width: 100%;
  height: auto;
}
.sale-goods-attributes {
  padding-left: 30px;
  font-size: 16px;
}
.sale-goods-attributes dl {
  margin-bottom: 5px;
}
.sale-goods-quantity {
  width: 100px;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 25px;
}
.sale-goods-price {
  display: block;
  padding-top: 30px;
  font-size: 20px;
}
.sale-bar {
  text-align: center;
}
.sale-bar span {
  font-size: 20px;
  vertical-align: middle;
}
.sale-bar .button {
  margin-left: 25px;
}
#noty_bottomRight_layout_container li {
  margin-top: 5px !important;
  border-radius: 0 !important;
  border: none !important;
  color: #000 !important;
}
.noty_bar {
  padding: 10px 15px;
  background: #e5e5e5;
}
.noty_message {
  padding: 10px !important;
  font-size: 16px !important;
  line-height: normal !important;
}
.noty_message a {
  color: #f72d20;
  text-decoration: none;
  border-bottom: 1px solid #f72d20;
}
#order {
  width: 780px;
  padding: 60px 130px;
  text-align: center;
}
#order .section-title {
  font-size: 30px;
  line-height: 40px;
}
.order-form input[type=text],
.order-form input[type=email] {
  display: block;
  margin: 0 auto 25px;
  border-color: #000;
  color: #000;
}
#thanks {
  width: 780px;
  padding: 80px 130px;
  text-align: center;
}
#thanks .section-title {
  margin: 0;
  font-size: 30px;
  line-height: 27px;
}
.thanks-title {
  margin: 0 0 15px;
  font-size: 40px;
  line-height: 40px;
  color: #f72d20;
}
.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  padding: 15px 0;
  background: #77808b;
  text-align: center;
}
.header-menu ul li {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}
.header-menu ul li:after {
  content: '/';
  margin-left: 35px;
  color: #fff;
}
.header-menu ul li:last-child {
  margin-right: -4px;
}
.header-menu ul li:last-child:after {
  content: none;
}
.header-menu ul a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.header-menu ul a:hover {
  border-color: #fff;
}
.show-mobile {
  display: none;
}
.header-content {
  margin-top: 50px;
  padding: 40px 0;
  background: #fff;
}
.header-logo {
  margin-top: 15px;
  color: #000;
  text-decoration: none;
}
.header-logo span {
  display: inline-block;
  margin-left: 25px;
  vertical-align: top;
  line-height: 20px;
}
.header-cart {
  margin-left: 145px;
  padding: 27px 40px;
  padding-left: 80px;
  background: url('../img/icon-cart-grey.png') no-repeat left 40px center #e5e5e5;
}
.header-cart a {
  color: #000;
  text-decoration: none;
}
.header-cart-label,
.header-cart-goods {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
  line-height: 1;
}
.header-cart-label {
  color: #f72d20;
}
.header-cart-quantity {
  border-bottom: 1px dashed #949494;
}
.header-cart-goods {
  margin: 0;
  margin-left: 10px;
  color: #949494;
}
.header-contacts {
  text-align: right;
}
.header-contacts-tel {
  display: block;
  margin-bottom: 7px;
  text-decoration: none;
  line-height: 1;
  color: #727272;
}
.header-contacts-tel span {
  font-size: 24px;
  color: #000;
}
.header-contacts-callback {
  padding: 10px 35px;
}
.section-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 29px;
  text-align: center;
}
hr {
  width: 365px;
  height: 1px;
  margin: 18px auto 0;
  border: none;
  background: #77808b;
}
.promo {
  padding: 60px 0;
  color: #fff;
  background: url('../img/bg-promo.jpg') no-repeat top left;
  background-size: cover;
}
.animate {
  transition: all 0.55s ease;
}
.promo-sale {
  display: block;
  margin-top: 60px;
  font-size: 25px;
  line-height: 33px;
  position: relative;
  left: -100px;
  opacity: 0;
}
.promo-sale.visible {
  left: 0;
  opacity: 1;
}
.promo-sale span {
  font-family: 'LatoLight', 'Roboto', sans-serif;
  font-size: 24px;
}
.promo-goods-list {
  margin-top: 50px;
  position: relative;
  left: -200px;
  opacity: 0;
}
.promo-goods-list.visible {
  left: 0;
  opacity: 1;
}
.promo-goods-single {
  display: inline-block;
  margin-right: 50px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
}
.promo-goods-single figcaption {
  margin-top: 10px;
}
.promo-about,
.promo-callback {
  width: 360px;
  margin-left: 75px;
  font-size: 16px;
  position: relative;
  left: -400px;
  opacity: 0;
}
.promo-about.visible,
.promo-callback.visible {
  left: 0;
  opacity: 1;
}
.promo-about {
  margin-top: 47px;
}
.promo-callback {
  margin-top: 20px;
  left: -600px;
}
.goods-list {
  margin-top: 65px;
  margin-left: -45px;
  margin-right: -45px;
  position: relative;
  bottom: -70px;
  opacity: 0;
}
.goods-list.visible {
  bottom: 0;
  opacity: 1;
}
.goods-single {
  float: left;
  width: 25%;
  padding: 0 45px;
  text-align: center;
}
.goods-single-img {
  position: relative;
  width: 100%;
  height: 261px;
  overflow: hidden;
}
.goods-single-img img {
  width: 100%;
  height: auto;
}
.goods-single-img figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.goods-single-img a {
  display: block;
  padding: 15px 0;
  color: #fff;
}
.goods-single-img a:hover {
  text-decoration: none;
}
.goods-single-title {
  margin-top: 23px;
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.goods-single-title a {
  color: #000;
  text-decoration: none;
}
.goods-single-title a:hover {
  color: #f72d20;
}
.goods-single-bar {
  margin-top: 23px;
}
.goods-single-price,
.goods-single-available {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}
.old-price {
  display: block;
  font-size: 18px;
  color: grey !important;
  text-decoration: line-through;
}
.goods-single-price {
  padding-right: 10px;
  font-size: 20px;
  line-height: 1;
  text-align: right;
}
.goods-single-available {
  padding-left: 10px;
  text-align: left;
  color: #218b0d;
}
.goods-single-buy {
  float: left;
  padding: 10.5px 40px;
  font-size: 16px;
}
.goods-single-info {
  font-size: 14px;
  line-height: 39px;
  text-align: right;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.goods-single-info:hover {
  border-color: transparent;
}
.catalog {
  padding: 65px 0;
}
.advantages {
  padding: 60px 0;
  color: #fff;
  background: url('../img/bg-advantages.jpg') no-repeat top left;
  background-size: cover;
}
.advantages hr {
  background: #fff;
  opacity: 1;
}
.advantages-list {
  margin: 75px -45px 0;
  position: relative;
  bottom: -70px;
  opacity: 0;
}
.advantages-list.visible {
  bottom: 0;
  opacity: 1;
}
.advantage-single {
  float: left;
  width: 25%;
  padding: 0 45px;
  text-align: center;
}
.advantage-single .img-wrapper {
  height: 95px;
}
.advantage-single figcaption {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.advantage-single img {
  width: 25%;
}
.offer {
  padding: 60px 0;
  background: #fafafa;
  text-align: center;
}
.offer hr {
  margin-bottom: 60px;
}
.offer-desc,
.offer-img {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.offer-desc {
  width: 450px;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  position: relative;
  left: -100px;
  opacity: 0;
}
.offer-desc.visible {
  left: 0;
  opacity: 1;
}
.offer-desc a {
  margin-top: 33px;
  padding: 16px 65px;
  border-radius: 25px;
}
.offer-img {
  width: 200px;
  height: 200px;
  background: url('../img/icon-truck-white.png') no-repeat center center #212326;
  border-radius: 50%;
  position: relative;
  right: -100px;
  opacity: 0;
}
.offer-img.visible {
  right: 0;
  opacity: 1;
}
.interesting {
  padding: 60px 0 80px;
  color: #fff;
  background: url('../img/bg-interesting.jpg') no-repeat top left;
  background-size: cover;
}
.interesting hr {
  background: #fff;
  opacity: 1;
}
.interesting-goods-list {
  text-align: center;
}
.interesting-goods-single {
  float: none;
  display: inline-block;
  margin-right: -4px;
}
.interesting-goods-single .goods-single-title a:not(:hover),
.interesting-goods-single .goods-single-info {
  color: #fff;
}
.interesting-goods-single .goods-single-info:not(:hover) {
  border-color: #fff;
}
.interesting-goods-single .old-price {
  color: #fff !important;
}
.about {
  padding: 60px 0;
}
.about hr {
  margin-bottom: 60px;
}
.about-desc,
.about-video {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}
.about-desc {
  padding-right: 55px;
  text-align: center;
}
.about-desc p {
  margin: 0;
  line-height: 25px;
}
.about-list {
  margin-top: 50px;
}
.about-single {
  display: inline-block;
  width: 33.333333333%;
  width: calc(100% / 3);
  width: -webkit-calc(100% / 3);
  width: -ms-calc(100% / 3);
  width: -moz-calc(100% / 3);
  width: -o-calc(100% / 3);
  margin-right: -4px;
  vertical-align: top;
  position: relative;
  left: -70px;
  opacity: 0;
}
.about-single.visible {
  left: 0;
  opacity: 1;
}
.about-single .img-wrapper {
  height: 120px;
}
.about-single:last-child img {
  margin-top: 17px;
}
.about-video img {
  width: 100%;
  height: 435px;
  cursor: pointer;
}
.testimonials {
  position: relative;
  min-height: 645px;
  padding: 60px 0;
  color: #fff;
  background-size: cover;
  overflow: hidden;
}
.testimonials h2,
.testimonials hr {
  position: relative;
  z-index: 1;
}
.testimonials hr {
  background: #fff;
  opacity: 1;
}
.testimonials-img-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.testimonials-img-slider img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
}
.testimonials-img-slider,
.testimonials-img-slider .slick-list,
.testimonials-img-slider .slick-track {
  height: 100%;
}
.testimonials-slider {
  margin-top: 65px;
  text-align: center;
}
.slide-inner {
  max-width: 1060px;
  margin: 0 auto;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.6);
}
.testimonials-client {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.testimonials-client img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: baseline;
}
.testimonials-info {
  margin: 10px 0 0;
}
.testimonials-desc {
  margin-top: 40px;
}
.testimonials-desc p {
  max-width: 1030px;
  margin: 15px auto;
  font-size: 18px;
  line-height: 28px;
}
.testimonials-desc a {
  display: inline-block;
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.testimonials-desc a:hover {
  border-color: transparent;
}
.slick-slide {
  outline: none;
}
.testimonials-slider-prev,
.testimonials-slider-next {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  width: 28px;
  height: 52px;
  background: url('../img/icon-arrow-white.png') no-repeat center center;
  cursor: pointer;
  opacity: 0.6;
}
.testimonials-slider-prev:hover,
.testimonials-slider-next:hover {
  opacity: 1;
}
.testimonials-slider-prev {
  left: 30px;
}
.testimonials-slider-next {
  right: 30px;
  transform: rotate(180deg);
}
.slick-dots {
  margin: 55px 0 0;
  padding: 0;
  list-style: none;
}
.slick-dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 6px;
  background: #68696b;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background: #f72d20;
}
.slick-dots button {
  display: none;
}
.delivery {
  padding: 60px 0 80px;
  text-align: center;
}
.delivery hr {
  margin-bottom: 35px;
}
.delivery-courier,
.delivery-pickup {
  opacity: 0;
  transform: scale(0);
}
.delivery-courier.visible,
.delivery-pickup.visible {
  transform: scale(1);
  opacity: 1;
}
.delivery-courier {
  margin-left: 75px;
}
.delivery-pickup {
  margin-right: 75px;
}
.delivery-pickup .delivery-title {
  margin-top: 22px;
}
.delivery-title {
  display: block;
  margin: 20px 0;
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.delivery-desc {
  margin: 0;
  font-size: 18px;
}
.delivery-desc span {
  color: #f72d20;
}
.feedback {
  padding: 60px 0 60px;
  color: #fff;
  text-align: center;
  background: url('../img/bg-feedback.jpg') no-repeat left top;
  background-size: cover;
}
.feedback .section-title {
  font-family: 'LatoRegular', 'Roboto', sans-serif;
  font-weight: 400;
}
.feedback-desc {
  margin-top: 25px;
  font-size: 18px;
}
footer {
  padding: 10px 0 5px;
  text-align: right;
}
footer a {
  color: #fc6556;
  text-decoration: none;
}
form input[type=text],
form input[type=email] {
  display: inline-block;
  width: 300px;
  margin-right: 30px;
  padding: 16px 30px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 35px;
  vertical-align: top;
}
form .button-red {
  width: 300px;
  font-size: 16px;
  padding: 17.5px 30px;
  border-radius: 35px;
}
.feedback-form {
  margin-top: 60px;
  opacity: 0;
}
.feedback-form.visible {
  opacity: 1;
}
.roistat-promo-wrap {
  display: none !important;
}
script + div:after,
#lightbox + div:after {
  content: none;
}
@media screen and (max-width: 1440px) {
  .container,
  #cart,
  #item,
  #sale {
    width: 1200px;
  }
  .header-cart {
    margin-left: 50px;
  }
  .promo .section-title {
    line-height: normal;
  }
  .goods-list {
    margin-left: -25px;
    margin-right: -25px;
  }
  .goods-single {
    padding: 0 25px;
  }
  .goods-single-img {
    height: 235px;
  }
  form input[type=text],
  form .button {
    width: 340px;
  }
  form input[type=text] {
    margin-right: 10px;
  }
  .sale-goods-desc {
    width: 200px;
  }
  .sale-goods-img {
    height: 175px;
  }
}
@media screen and (max-width: 1220px) {
  .container,
  #cart,
  #item,
  #sale {
    width: 1000px;
  }
  .header-menu ul li {
    margin-right: 20px;
  }
  .header-menu ul li:after {
    margin-left: 25px;
  }
  .header-cart-goods {
    display: none;
  }
  .goods-list {
    margin-left: -25px;
    margin-right: -25px;
  }
  .goods-single {
    padding: 0 10px;
  }
  .goods-single-price {
    font-size: 18px;
    text-align: left;
  }
  .goods-single-available {
    text-align: right;
    font-size: 14px;
  }
  .goods-single-buy {
    padding: 10.5px 30px;
  }
  .advantages {
    min-height: 0;
  }
  .advantage-single .img-wrapper {
    height: 115px;
  }
  .advantage-single figcaption {
    font-size: 18px;
    line-height: normal;
  }
  .about-video img {
    height: auto;
  }
  .slick-arrow {
    display: none !important;
  }
  .delivery-courier,
  .delivery-pickup {
    width: 50%;
    margin: 0;
  }
  form .button {
    margin-top: 20px;
  }
  .item-gallery {
    width: 370px;
  }
  .item-gallery-big {
    height: 340px;
  }
  .sale-goods-desc {
    width: 175px;
  }
  .sale-goods-img {
    height: 165px;
  }
  .sale-goods-single {
    padding: 20px;
  }
  .sale-goods-attributes {
    padding-top: 10px;
    padding-left: 15px;
  }
  .sale-goods-price {
    padding-top: 15px;
  }
}
@media screen and (max-width: 1020px) {
  .container,
  #cart,
  #item,
  #sale,
  #order,
  #thanks {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .button {
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 25px;
  }
  .animate {
    position: static !important;
    transform: none !important;
  }
  .header-menu {
    height: 117px;
    text-align: left;
  }
  .header-menu ul {
    margin-bottom: -15px;
  }
  .header-menu ul li {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    margin-bottom: 15px;
    vertical-align: top;
  }
  .header-menu ul li:after {
    content: none;
  }
  .header-content {
    margin-top: 117px;
    padding: 10px 0;
    text-align: center;
  }
  .header-logo,
  .header-cart,
  .header-contacts {
    margin: 0 auto;
    text-align: center;
  }
  .header-logo {
    float: none;
    display: block;
    margin-bottom: 25px;
  }
  .header-logo span {
    display: none;
  }
  .header-cart,
  .header-contacts {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
  }
  .header-cart {
    float: left;
    margin-top: 30px;
    padding: 0;
    text-align: left;
    background: none;
  }
  .cart-popup {
    display: none;
  }
  .cart-popup.show-mobile {
    display: inline-block;
  }
  .header-contacts {
    text-align: right;
  }
  .promo {
    padding: 30px 0;
  }
  .promo .section-title {
    font-size: 30px;
    line-height: normal;
  }
  .promo-sale {
    margin-top: 45px;
  }
  .promo-goods-single {
    display: block;
    margin: 25px auto;
  }
  .promo-about,
  .promo-callback {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    font-size: 16px;
  }
  hr {
    width: 100%;
  }
  .goods-list {
    margin: 30px 0 0;
  }
  .goods-single {
    float: none;
    width: 100%;
    margin-bottom: 50px;
  }
  .goods-single:last-child {
    margin-bottom: 0;
  }
  .goods-single-title {
    margin-top: 15px;
  }
  .goods-single-bar {
    margin-top: 15px;
  }
  .goods-single-available,
  .goods-single-info {
    font-size: 16px;
  }
  .goods-single-buy {
    float: none;
    display: block;
    margin: 0 0 10px;
    padding: 14px 30px;
    width: 100%;
    border-radius: 25px;
  }
  .goods-single-info {
    line-height: normal;
  }
  .catalog {
    padding: 30px 0;
  }
  #noty_bottomRight_layout_container {
    width: 100% !important;
    right: 0 !important;
    bottom: 0 !important;
  }
  #noty_bottomRight_layout_container li {
    width: 100% !important;
  }
  .advantages {
    padding: 30px 0;
  }
  .advantages-list {
    margin: 30px 0 0;
  }
  .advantage-single {
    float: none;
    width: 100%;
    margin-bottom: 50px;
    padding: 0;
  }
  .advantage-single .img-wrapper {
    height: auto;
  }
  .advantage-single:last-child {
    margin-bottom: 0;
  }
  .offer {
    padding: 30px 0;
  }
  .offer hr {
    margin-bottom: 30px;
  }
  .offer-desc {
    display: block;
    margin-right: 0;
  }
  .offer-desc {
    width: 100%;
    margin-top: 0;
    font-size: 20px;
    line-height: normal;
  }
  .offer-desc a {
    display: block;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
  }
  .offer-img {
    display: none;
  }
  .interesting {
    padding: 30px 0;
  }
  .about {
    padding: 30px 0;
  }
  .about hr {
    margin-bottom: 30px;
  }
  .about-desc,
  .about-video {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about-list {
    margin-top: 30px;
  }
  .about-single {
    display: block;
    width: 100% !important;
    margin: 0 0 30px;
  }
  .about-single .img-wrapper {
    height: auto;
  }
  .about-video iframe {
    height: 200px;
  }
  .testimonials {
    min-height: 0;
    padding: 30px 0;
  }
  .testimonials-slider {
    margin-top: 30px;
  }
  .testimonials-desc {
    margin-top: 20px;
  }
  .testimonials-desc a {
    margin-top: 15px;
  }
  .testimonials-desc p {
    font-size: 18px;
    line-height: normal;
  }
  .delivery {
    padding: 30px 0;
  }
  .delivery hr {
    margin-bottom: 30px;
  }
  .delivery-courier,
  .delivery-pickup {
    float: none;
    width: 100%;
  }
  .delivery-pickup {
    margin-top: 30px;
  }
  .delivery-title {
    margin: 10px 0 !important;
    font-size: 22px;
    line-height: normal;
  }
  .delivery-desc {
    font-size: 18px;
    line-height: normal;
  }
  .feedback {
    min-height: 0;
    padding: 30px 0;
  }
  .feedback .section-title {
    font-size: 30px;
    line-height: normal;
  }
  .feedback-desc {
    font-size: 18px;
    line-height: normal;
  }
  .feedback-form {
    margin-top: 35px;
  }
  form input[type=text],
  form input[type=submit] {
    width: 100%;
    display: block;
    margin: 0 0 10px;
    padding: 14px 30px;
    line-height: normal;
  }
  form .button-red {
    font-size: 16px;
  }
  .modal .section-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: normal;
  }
  .item-gallery {
    width: 100%;
  }
  .item-gallery-big {
    height: auto;
  }
  .item-gallery-thmb a {
    height: 55px !important;
  }
  .item-attributes {
    padding-left: 0;
    font-size: 18px;
  }
  .item-desc {
    margin-top: 30px;
  }
  .item-buy,
  .sale-bar {
    margin-top: 30px;
  }
  .item-buy span,
  .sale-bar span,
  .item-buy .button,
  .sale-bar .button {
    display: block;
    width: 100%;
    margin: 10px 0 0;
  }
  .sale-goods-single {
    float: none;
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
  }
  .sale-goods-single:last-child {
    margin-bottom: 0;
  }
  .sale-goods-desc {
    width: 100%;
  }
  .sale-goods-img {
    height: auto;
  }
  .sale-goods-price {
    padding-top: 5px;
  }
  .cart-bar {
    text-align: center;
  }
  .cart-total,
  .button-order {
    display: block;
    width: 100%;
    margin: 10px 0 0;
  }
  .table-wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  .table-wrapper table {
    width: 700px;
  }
}
